@using CampusParty.ViewModels
@using Newtonsoft.Json

@{
    Layout = "_AdminMenuLayout";
    ViewData ["Title"] = "Detalles Participante";
    UsuarioEvento usuarioEvento = Model;
    var carpa = JsonConvert.DeserializeObject<dynamic>(usuarioEvento.Carpa);
    var vehiculo = JsonConvert.DeserializeObject<dynamic>(usuarioEvento.Vehiculo);
    var computador = JsonConvert.DeserializeObject<dynamic>(usuarioEvento.Computador);

}


<div class="container">
    <h1 class="text-center">Datos Inscripción Participante</h1>
    <div class="mt-3">
        <h3>Carpa</h3>
        <ul>
            <li>Color: @(carpa.Color != null && !String.IsNullOrWhiteSpace((string)carpa.Color) ? (string)carpa.Color : "No Aplica")</li>
            <li>Alto: @(carpa.Alto != null ? (double)carpa.Alto : "No Aplica")</li>
            <li>Largo: @(carpa.Largo != null ? (double)carpa.Largo : "No Aplica")</li>
            <li>Ancho: @(carpa.Ancho != null ? (double)carpa.Ancho : "No Aplica")</li>
        </ul>
    </div>

    <div class="mt-3">
        <h3>Vehiculo</h3>
        <ul>
            <li>Placa: @(vehiculo.Placa != null && !String.IsNullOrWhiteSpace((string)vehiculo.Placa) ? (string)vehiculo.Placa : "No Aplica")</li>
            <li>Color: @(vehiculo.Color != null && !String.IsNullOrWhiteSpace((string)vehiculo.Color) ? (string)vehiculo.Color : "No Aplica")</li>
        </ul>
    </div>

    <div class="mt-3">
        <h3>Computador</h3>
        <ul>
            <li>Serial: @(computador.Serial != null && !String.IsNullOrWhiteSpace((string)computador.Serial) != null ? (string)computador.Serial : "No Aplica")</li>
            <li>RAM: @(computador.RAM != null ? (double)computador.RAM : "No Aplica")</li>
            <li>Disco Duro: @(computador.DiscoDuro != null ? (double)computador.DiscoDuro : "No Aplica")</li>
            <ul>
                <li><h5>Software Educativo</h5></li>
                <ul>
                    <li>Logros: @(computador.SoftwareEducativo.Logros != null && !String.IsNullOrWhiteSpace((string)computador.SoftwareEducativo.Logros) ? (string)computador.SoftwareEducativo.Logros : "No Aplica")</li>
                </ul>
            </ul>
            <ul>
                <li><h5>Videojuego</h5></li>
                <ul>
                    <li>Puntaje Máximo: @(computador.Videojuego.ScoreMax != null ? (double)computador.Videojuego.ScoreMax : "No Aplica")</li>
                    <li>Puntaje Máximo: @(computador.Videojuego.Fabricante != null && !String.IsNullOrWhiteSpace((string)computador.Videojuego.Fabricante) ? (string)computador.Videojuego.Fabricante : "No Aplica")</li>
                </ul>
            </ul>
        </ul>
    </div>

    <div class="mt-3">
        @if (usuarioEvento.Estadia) {
            <h3>Este participante requiere estadia</h3>
        }
    </div>

</div>






